*.pdf
starter/BACKUP/02-HTML-Fundamentals/challenges.jpg
starter/BACKUP/02-HTML-Fundamentals/content.txt
starter/BACKUP/02-HTML-Fundamentals/laura-jones.jpg
starter/BACKUP/02-HTML-Fundamentals/post-img.jpg
starter/BACKUP/02-HTML-Fundamentals/related-1.jpg
starter/BACKUP/02-HTML-Fundamentals/related-2.jpg
starter/BACKUP/02-HTML-Fundamentals/related-3.jpg
starter/BACKUP/03-CSS-Fundamentals/blog.html
starter/BACKUP/03-CSS-Fundamentals/content.txt
starter/BACKUP/03-CSS-Fundamentals/img/challenges.jpg
starter/BACKUP/03-CSS-Fundamentals/img/laura-jones.jpg
starter/BACKUP/03-CSS-Fundamentals/img/post-img.jpg
starter/BACKUP/03-CSS-Fundamentals/img/related-1.jpg
starter/BACKUP/03-CSS-Fundamentals/img/related-2.jpg
starter/BACKUP/03-CSS-Fundamentals/img/related-3.jpg
starter/BACKUP/03-CSS-Fundamentals/index.html
starter/BACKUP/04-CSS-Layouts/blog.html
starter/BACKUP/04-CSS-Layouts/content.txt
starter/BACKUP/04-CSS-Layouts/css-grid.html
starter/BACKUP/04-CSS-Layouts/flexbox.html
starter/BACKUP/04-CSS-Layouts/img/challenges.jpg
starter/BACKUP/04-CSS-Layouts/img/laura-jones.jpg
starter/BACKUP/04-CSS-Layouts/img/post-img.jpg
starter/BACKUP/04-CSS-Layouts/img/related-1.jpg
starter/BACKUP/04-CSS-Layouts/img/related-2.jpg
starter/BACKUP/04-CSS-Layouts/img/related-3.jpg
starter/BACKUP/04-CSS-Layouts/index.html
starter/BACKUP/04-CSS-Layouts/style.css
starter/BACKUP/05-Design/chair-1.jpg
starter/BACKUP/05-Design/chair-2.jpg
starter/BACKUP/05-Design/chair-3.jpg
starter/BACKUP/05-Design/customers.jpg
starter/BACKUP/05-Design/hero.jpg
starter/BACKUP/05-Design/index.html
starter/BACKUP/05-Design/style.css
starter/BACKUP/06-Components/hero.jpg
starter/BACKUP/06-Components/maria.jpg
starter/BACKUP/07-Omnifood-Desktop/content/content.md
starter/BACKUP/07-Omnifood-Desktop/content/img/app/app-screen-1.png
starter/BACKUP/07-Omnifood-Desktop/content/img/app/app-screen-2.png
starter/BACKUP/07-Omnifood-Desktop/content/img/app/app-screen-3.png
starter/BACKUP/07-Omnifood-Desktop/content/img/customers/ben.jpg
starter/BACKUP/07-Omnifood-Desktop/content/img/customers/customer-1.jpg
starter/BACKUP/07-Omnifood-Desktop/content/img/customers/customer-2.jpg
starter/BACKUP/07-Omnifood-Desktop/content/img/customers/customer-3.jpg
starter/BACKUP/07-Omnifood-Desktop/content/img/customers/customer-4.jpg
starter/BACKUP/07-Omnifood-Desktop/content/img/customers/customer-5.jpg
starter/BACKUP/07-Omnifood-Desktop/content/img/customers/customer-6.jpg
starter/BACKUP/07-Omnifood-Desktop/content/img/customers/dave.jpg
starter/BACKUP/07-Omnifood-Desktop/content/img/customers/hannah.jpg
starter/BACKUP/07-Omnifood-Desktop/content/img/customers/steve.jpg
starter/BACKUP/07-Omnifood-Desktop/content/img/eating.jpg
starter/BACKUP/07-Omnifood-Desktop/content/img/favicon.png
starter/BACKUP/07-Omnifood-Desktop/content/img/gallery/gallery-1.jpg
starter/BACKUP/07-Omnifood-Desktop/content/img/gallery/gallery-10.jpg
starter/BACKUP/07-Omnifood-Desktop/content/img/gallery/gallery-11.jpg
starter/BACKUP/07-Omnifood-Desktop/content/img/gallery/gallery-12.jpg
starter/BACKUP/07-Omnifood-Desktop/content/img/gallery/gallery-2.jpg
starter/BACKUP/07-Omnifood-Desktop/content/img/gallery/gallery-3.jpg
starter/BACKUP/07-Omnifood-Desktop/content/img/gallery/gallery-4.jpg
starter/BACKUP/07-Omnifood-Desktop/content/img/gallery/gallery-5.jpg
starter/BACKUP/07-Omnifood-Desktop/content/img/gallery/gallery-6.jpg
starter/BACKUP/07-Omnifood-Desktop/content/img/gallery/gallery-7.jpg
starter/BACKUP/07-Omnifood-Desktop/content/img/gallery/gallery-8.jpg
starter/BACKUP/07-Omnifood-Desktop/content/img/gallery/gallery-9.jpg
starter/BACKUP/07-Omnifood-Desktop/content/img/hero.png
starter/BACKUP/07-Omnifood-Desktop/content/img/logos/business-insider.png
starter/BACKUP/07-Omnifood-Desktop/content/img/logos/forbes.png
starter/BACKUP/07-Omnifood-Desktop/content/img/logos/techcrunch.png
starter/BACKUP/07-Omnifood-Desktop/content/img/logos/the-new-york-times.png
starter/BACKUP/07-Omnifood-Desktop/content/img/logos/usa-today.png
starter/BACKUP/07-Omnifood-Desktop/content/img/meals/meal-1.jpg
starter/BACKUP/07-Omnifood-Desktop/content/img/meals/meal-2.jpg
starter/BACKUP/07-Omnifood-Desktop/content/img/omnifood-logo.png
starter/BACKUP/08-Omnifood-Responsive/content.md
starter/BACKUP/08-Omnifood-Responsive/css/general.css
starter/BACKUP/08-Omnifood-Responsive/css/style.css
starter/BACKUP/08-Omnifood-Responsive/img/app/app-screen-1.png
starter/BACKUP/08-Omnifood-Responsive/img/app/app-screen-2.png
starter/BACKUP/08-Omnifood-Responsive/img/app/app-screen-3.png
starter/BACKUP/08-Omnifood-Responsive/img/customers/ben.jpg
starter/BACKUP/08-Omnifood-Responsive/img/customers/customer-1.jpg
starter/BACKUP/08-Omnifood-Responsive/img/customers/customer-2.jpg
starter/BACKUP/08-Omnifood-Responsive/img/customers/customer-3.jpg
starter/BACKUP/08-Omnifood-Responsive/img/customers/customer-4.jpg
starter/BACKUP/08-Omnifood-Responsive/img/customers/customer-5.jpg
starter/BACKUP/08-Omnifood-Responsive/img/customers/customer-6.jpg
starter/BACKUP/08-Omnifood-Responsive/img/customers/dave.jpg
starter/BACKUP/08-Omnifood-Responsive/img/customers/hannah.jpg
starter/BACKUP/08-Omnifood-Responsive/img/customers/steve.jpg
starter/BACKUP/08-Omnifood-Responsive/img/eating.jpg
starter/BACKUP/08-Omnifood-Responsive/img/favicon.png
starter/BACKUP/08-Omnifood-Responsive/img/gallery/gallery-1.jpg
starter/BACKUP/08-Omnifood-Responsive/img/gallery/gallery-10.jpg
starter/BACKUP/08-Omnifood-Responsive/img/gallery/gallery-11.jpg
starter/BACKUP/08-Omnifood-Responsive/img/gallery/gallery-12.jpg
starter/BACKUP/08-Omnifood-Responsive/img/gallery/gallery-2.jpg
starter/BACKUP/08-Omnifood-Responsive/img/gallery/gallery-3.jpg
starter/BACKUP/08-Omnifood-Responsive/img/gallery/gallery-4.jpg
starter/BACKUP/08-Omnifood-Responsive/img/gallery/gallery-5.jpg
starter/BACKUP/08-Omnifood-Responsive/img/gallery/gallery-6.jpg
starter/BACKUP/08-Omnifood-Responsive/img/gallery/gallery-7.jpg
starter/BACKUP/08-Omnifood-Responsive/img/gallery/gallery-8.jpg
starter/BACKUP/08-Omnifood-Responsive/img/gallery/gallery-9.jpg
starter/BACKUP/08-Omnifood-Responsive/img/hero.png
starter/BACKUP/08-Omnifood-Responsive/img/logos/business-insider.png
starter/BACKUP/08-Omnifood-Responsive/img/logos/forbes.png
starter/BACKUP/08-Omnifood-Responsive/img/logos/techcrunch.png
starter/BACKUP/08-Omnifood-Responsive/img/logos/the-new-york-times.png
starter/BACKUP/08-Omnifood-Responsive/img/logos/usa-today.png
starter/BACKUP/08-Omnifood-Responsive/img/meals/meal-1.jpg
starter/BACKUP/08-Omnifood-Responsive/img/meals/meal-2.jpg
starter/BACKUP/08-Omnifood-Responsive/img/omnifood-logo.png
starter/BACKUP/08-Omnifood-Responsive/index.html
starter/BACKUP/09-Omnifood-Optimizations/content.md
starter/BACKUP/09-Omnifood-Optimizations/css/general.css
starter/BACKUP/09-Omnifood-Optimizations/css/queries.css
starter/BACKUP/09-Omnifood-Optimizations/css/style.css
starter/BACKUP/09-Omnifood-Optimizations/img/app/app-screen-1.png
starter/BACKUP/09-Omnifood-Optimizations/img/app/app-screen-2.png
starter/BACKUP/09-Omnifood-Optimizations/img/app/app-screen-3.png
starter/BACKUP/09-Omnifood-Optimizations/img/customers/ben.jpg
starter/BACKUP/09-Omnifood-Optimizations/img/customers/customer-1.jpg
starter/BACKUP/09-Omnifood-Optimizations/img/customers/customer-2.jpg
starter/BACKUP/09-Omnifood-Optimizations/img/customers/customer-3.jpg
starter/BACKUP/09-Omnifood-Optimizations/img/customers/customer-4.jpg
starter/BACKUP/09-Omnifood-Optimizations/img/customers/customer-5.jpg
starter/BACKUP/09-Omnifood-Optimizations/img/customers/customer-6.jpg
starter/BACKUP/09-Omnifood-Optimizations/img/customers/dave.jpg
starter/BACKUP/09-Omnifood-Optimizations/img/customers/hannah.jpg
starter/BACKUP/09-Omnifood-Optimizations/img/customers/steve.jpg
starter/BACKUP/09-Omnifood-Optimizations/img/eating.jpg
starter/BACKUP/09-Omnifood-Optimizations/img/favicon.png
starter/BACKUP/09-Omnifood-Optimizations/img/gallery/gallery-1.jpg
starter/BACKUP/09-Omnifood-Optimizations/img/gallery/gallery-10.jpg
starter/BACKUP/09-Omnifood-Optimizations/img/gallery/gallery-11.jpg
starter/BACKUP/09-Omnifood-Optimizations/img/gallery/gallery-12.jpg
starter/BACKUP/09-Omnifood-Optimizations/img/gallery/gallery-2.jpg
starter/BACKUP/09-Omnifood-Optimizations/img/gallery/gallery-3.jpg
starter/BACKUP/09-Omnifood-Optimizations/img/gallery/gallery-4.jpg
starter/BACKUP/09-Omnifood-Optimizations/img/gallery/gallery-5.jpg
starter/BACKUP/09-Omnifood-Optimizations/img/gallery/gallery-6.jpg
starter/BACKUP/09-Omnifood-Optimizations/img/gallery/gallery-7.jpg
starter/BACKUP/09-Omnifood-Optimizations/img/gallery/gallery-8.jpg
starter/BACKUP/09-Omnifood-Optimizations/img/gallery/gallery-9.jpg
starter/BACKUP/09-Omnifood-Optimizations/img/hero.png
starter/BACKUP/09-Omnifood-Optimizations/img/logos/business-insider.png
starter/BACKUP/09-Omnifood-Optimizations/img/logos/forbes.png
starter/BACKUP/09-Omnifood-Optimizations/img/logos/techcrunch.png
starter/BACKUP/09-Omnifood-Optimizations/img/logos/the-new-york-times.png
starter/BACKUP/09-Omnifood-Optimizations/img/logos/usa-today.png
starter/BACKUP/09-Omnifood-Optimizations/img/meals/meal-1.jpg
starter/BACKUP/09-Omnifood-Optimizations/img/meals/meal-2.jpg
starter/BACKUP/09-Omnifood-Optimizations/img/omnifood-logo.png
starter/BACKUP/09-Omnifood-Optimizations/index.html
starter/BACKUP/09-Omnifood-Optimizations/script.js
starter/01-test/index.html
